body{
    width:1200px;
    background-color: blanchedalmond;
}
.container{
    padding-top:20px;
    padding-left:90px;
    padding-right:90px;
}
.container1{
   padding: 10px;
}
.header{
    display: flex;
  justify-content: space-between;
}
.earth{
    margin-right:10px;

}
.challenges{
    display: flex;
}
.join{
    color:white;
    background-color: black;
    width:60px;
    height:35px;
    border-radius: 5px;
    text-align: center;
    margin-top: -10px;
    margin-left: 50px;
} 
.content{
display: flex;
justify-content: space-between;
margin-top: 50px;
padding-bottom: 100px;
}
.content_left{
    width:50%;
    padding-right:30px;
}
.text{
font-size: 40.83px;
}
.learn_button{
    width:120px;
    background-color: black;
    color:white;
    text-align: center;
    height:35px;
    border-radius: 5px;
    margin-top:30px;
}
.content_right{
    width:50%;
   margin-top: 20px;
}
.image{
    background-color: whitesmoke;
    height:270px;
    width:300px;
    margin-left: 180px;
}
.information{
    width:60%;
}
.text2{
    font-weight: 600;
    font-size: 35.83px;
    }
 .cards{
    display: flex;
    flex-direction: row;
 } 
 .card1{
    width:30%;
    margin:10px;
   
 }  
 .card_image{
    height:190px;
    width:100%;
    border-radius:5px;
    background-color: whitesmoke;
    
 }
 .smallImage{
    width:30%;
    height:40%;
  margin-left: 10px;
 
    background-color: rgb(167, 170, 170);
 }
 .card_button{
    width:90%;
    height:35px;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 10px;
 }
 .cintainer3{
    display: flex;
    margin-top:100px;
 }
 .container3_image{
    width:40%;
    height: 300px;
    margin-right: 100px;
    background-color: whitesmoke;
    margin-top:20px;
 }
 .content3{
    width:43%;
 }
 .cintainer4{
    display: flex;
    margin-top:100px;
 }
 .content4{
    width:43%;
 }
 .container4_image{
    width:40%;
    height: 300px;
    margin-left: 100px;
    background-color: whitesmoke;
    margin-top:20px;
 }
 .cntainer4_button{
    width:60%;
    height:35px;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white; 
 }
 .container5{
    margin-top: 100px;
 }
 .jointribe{
    display: flex;
    flex-wrap: wrap;  
 }
 .jointribe_divisions{
    width: 30%;
    margin: 15px;
 }
 .container6{
    margin-top: 100px;  
 }
 .tribe_cards{
    display: flex;
    flex-wrap: wrap;
 }
 .tribe_card1{
    width:20%;
    margin: 20px;
 }
.tribe_cardimage{
    height:200px;
    background-color: whitesmoke;
}
.content7{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container7_image{
    width:50%;
    height: 300px;
   
    background-color: whitesmoke;
    margin-top:20px;
 }
.persons{
width:40%;
margin: 10px;
}
.details{
    display: flex;
}
.imgdiv{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-top:5%;
}
